@import "../../assets/style.scss";

.city-week-month-container {
  width: 100%;

  position: relative;

  @media screen and (min-width: $sm) {
    height: 500px;
  }

  //TITLE CONTAINER
  .city-week-month-title-container {
    display: flex;

    background: #fff;

    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    position: relative;

    z-index: 1;

    @media screen and (min-width: $sm) {
      display: inline-block;
    }

    //TITLE
    .city-week-month-title {
      width: 50%;

      margin: 0;

      color: $primary-color;
      background: #fff;

      padding: 20px;

      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;

      text-align: center;

      font-family: "Poppins-SemiBold";
      font-size: 28px;

      cursor: pointer;

      @media screen and (min-width: $sm) {
        display: inline-block;

        width: auto;

        text-align: left;
      }

      &.active {
        color: #fff;
        background: #5f8dec;
      }
    }
  }

  //CONTENT
  .city-week-month-content {
    height: calc(100% - 82px);

    background: linear-gradient(#5f8dec, #699fef);

    box-shadow: $shadow;

    border-radius: $border-radius;

    position: relative;

    z-index: 1;

    &.week-selected {
      border-top-left-radius: 0;
    }

    &.month-selected {
      border-top-right-radius: 0;

      @media screen and (min-width: $sm) {
        border-top-right-radius: $border-radius;
      }
    }

    .city-week-month-content-week,
    .city-week-month-content-month {
      height: calc(100% - 80px);

      padding: 30px;
      padding-bottom: 20px;
    }

    //WEEK
    .city-week-month-content-week {
      @media screen and (min-width: $sm) {
        display: flex;
        justify-content: space-between;
      }

      //DAY
      .city-week-month-content-week-day {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        min-width: 80px;

        color: #fff;
        background: #729eee;

        box-shadow: $shadow;

        padding: 20px;

        font-family: "Poppins-SemiBold";

        border-radius: $border-radius;

        @media screen and (min-width: $sm) {
          width: 33.33333333%;
        }

        @media screen and (min-width: $md) {
          padding: 16px;
        }

        &:nth-child(2) {
          margin: 20px 0;

          @media screen and (min-width: $sm) {
            margin: 0 30px;
          }

          @media screen and (min-width: $xl) {
            margin: 0 30px;
          }
        }

        //TITLE
        .city-week-month-content-week-day-title {
          margin: 0;
          font-size: 22px;
        }

        //TEMPERATURE
        .city-week-month-content-week-day-temperature {
          margin: 0;
          font-size: 42px;
        }

        //WEATHER
        .city-week-month-content-week-day-weather {
          height: 80px;
        }
      }
    }

    //MONTH
    .city-week-month-content-month {
      display: flex;
      justify-content: space-between;

      color: #fff;

      //CONTENT CONTAINER
      .city-week-month-content-month-content-container {
        display: flex;

        width: 100%;

        background: #729eee;

        box-shadow: $shadow;

        padding: 30px;

        border-radius: $border-radius;

        //WEATHER CONTAINER
        .city-week-month-content-month-weather-container {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 33.33333333%;

          margin-right: 40px;

          position: relative;

          //DATE
          .city-week-month-content-month-weather-date {
            margin: 0;

            position: absolute;
            top: 0;
            left: 0;

            font-size: 22px;
            font-family: "Poppins-SemiBold";
          }

          //WEATHER ICON
          .city-week-month-content-month-weather {
            width: 128px;
          }
        }

        //CONTENT
        .city-week-month-content-month-content {
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          width: 66.66666667%;
          height: 100%;

          font-size: 18px;
          font-family: "Poppins-Regular";

          //DATA TOP CONTAINER
          .city-week-month-content-month-data-top {
            //TEMPERATURE
            .city-week-month-content-month-temperature {
              margin: 0;
              margin-bottom: 6px;

              font-size: 36px;
              font-family: "Poppins-SemiBold";
            }

            //TEXT
            .city-week-month-content-month-weather-text {
              margin: 0;
              margin-bottom: 14px;
            }
          }

          //DATA BOTTOM CONTAINER
          .city-week-month-content-month-data-bottom {
            margin: 0;

            //TEXT
            .city-week-month-content-month-data-text {
              margin: 0;
            }
          }
        }
      }
    }

    //DOTS CONTAINER
    .city-week-month-content-dots {
      display: flex;
      justify-content: center;
      align-items: center;

      padding-bottom: 20px;

      //DOT
      .city-week-month-content-dot {
        width: 6px;
        height: 6px;

        margin: 0 5px;

        background: #fff;

        opacity: 0.4;

        border-radius: 50%;

        &.active {
          width: 10px;
          height: 10px;

          opacity: 1;
        }
      }
    }
  }

  //WHITE RECTANGULAR
  .city-week-month-white-rectangular {
    width: 100%;
    height: 100px;

    background: #fff;

    position: absolute;
    top: 50px;
    left: 0;

    z-index: 0;

    @media screen and (min-width: $sm) {
      width: 50px;
    }
  }
}
