@import "../../assets/style.scss";

.current-city {
  display: flex;
  align-items: center;

  width: 66.66666667%;

  background-position: center;
  background-size: cover;

  box-shadow: $shadow;

  border-radius: $border-radius;

  .current-city-left-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 140px;
    height: 60%;

    margin: 0;
    margin-left: -50px;

    color: #fff;
    background: linear-gradient(#567be8, #6da7f1);

    box-shadow: $shadow;

    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    .current-city-left-container-temperature {
      margin: 0;

      font-size: 50px;
    }

    .current-city-left-container-weather {
      width: 84px;
    }
  }

  .current-city-content {
    height: 50%;

    margin-left: 54px;

    color: $primary-color;

    .current-city-title {
      margin: 0;
      margin-bottom: 8px;

      font-family: "Poppins-SemiBold";
      font-size: 32px;
    }

    .current-city-date {
      margin: 0;
      margin-bottom: 20px;

      font-family: "Poppins-Medium";
      font-size: 20px;
    }

    .current-city-weather {
      margin: 0;

      font-family: "Poppins-Light";
      font-size: 20px;
    }
  }
}
