@import "../../assets/style.scss";

.dashboard-container {
  height: 100vh;

  background: #f1f1f1;

  padding: 50px;

  .current-city-container {
    display: flex;
    justify-content: space-between;
  }
}

//BOTTOM CONTAINER
.bottom-container {
  display: flex;
  justify-content: space-between;

  height: 50%;

  .current-city-bottom-container {
    display: flex;
    justify-content: space-between;

    width: 66.66666667%;

    margin-top: 30px;
  }

  .bottom-right-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 33.33333333%;

    margin-left: 50px;
  }
}
