@import "../../assets/style.scss";

.city-today-container {
  width: 100%;
  height: 500px;
  margin-bottom: 50px;

  //TITLE
  .city-today-title {
    margin: 20px 0 20px 20px;

    color: $primary-color;

    font-size: 28px;
    font-family: "Poppins-SemiBold";
  }

  //CONTENT
  .city-today-content {
    height: calc(100% - 82px);

    overflow: hidden;

    color: #fff;
    background: linear-gradient(#5f8dec, #699fef);

    padding: 0 16px;

    box-shadow: $shadow;

    text-align: center;

    border-radius: $border-radius;

    position: relative;

    //NOW
    .city-today-now {
      margin-top: 45px;
      margin-bottom: 10px;

      font-size: 18px;
      font-family: "Poppins-Bold";
    }

    //LINE
    .city-today-line-container {
      display: flex;
      justify-content: center;

      width: 100%;
      height: 100%;

      position: absolute;
      top: 100px;
      left: 0;

      .city-today-line {
        width: 8px;
        height: 100%;

        background: linear-gradient(#fff, transparent);
      }
    }

    //ELEMENT
    .city-today-content-element {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-bottom: 26px;

      .city-today-content-element-temperature {
        width: 50px;

        margin: 0;

        font-size: 30px;
        font-family: "Poppins-Light";
      }

      //SHERE
      .city-today-content-element-sphere {
        width: 20px;
        height: 20px;

        margin: 0 32px;

        background: #fff;

        border-radius: 50%;
      }

      //HOUR
      .city-today-content-element-hour {
        width: 50px;

        white-space: nowrap;
      }
    }

    //FIRST ELEMENT
    .city-today-content-element-now {
      .city-today-content-element-temperature {
        font-size: 40px;
        font-family: "Poppins-Bold";
      }

      .city-today-content-element-sphere {
        width: 30px;
        height: 30px;
      }
    }
  }
}
